/*Import fonts*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Miniver&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
}

:root {
  /*Colors*/
  --white-color: #fff;
  --dark-color: #404212;
  --primary-color: #817e47;
  --secondary-color: #c8ac79;
  --light-pink-color: #faf4f5;
  --medium-gray-color: #ccc;

  /* Font size */
  --font-size-s: 0.9rem;
  --font-size-n: 1rem;
  --font-size-m: 1.12rem;
  --font-size-l: 1.5rem;
  --font-size-xl: 2rem;
  --font-size-xxl: 2.3rem;

  /* Font weight */
  --font-wight-normal: 400;
  --font-wight-medium: 500;
  --font-wight-semibold: 600;
  --font-wight-bold: 700;

  /* Border radius */
  --border-radius-s: 8px;
  --border-radius-m: 30px;
  --border-radius-circle: 50%;

  /* Site max width */
  --site-max-width: 1300px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

img {
  width: 100%;
}

.section-content {
  margin: 0 auto;
  padding: 0 20px;
  max-width: var(--site-max-width);
}

/* Navbar styling */
header {
  position: fixed;
  width: 100%;
  z-index: 5;
  background: var(--primary-color);
}

header .navbar {
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: space-between;
}

.navbar .nav-logo img {
  height: 65px;
  width: 175px;
}

.navbar .nav-logo .logo-text{
  color: var(--white-color);
  font-size: var(--font-size-xl);
  font-weight: var(--font-wight-semibold);
}

.navbar .nav-menu {
  display: flex;
  gap: 10px;
}

.navbar .nav-menu .nav-link{
  padding: 10px 18px;
  font-size: var(--font-size-m);
  color: var(--white-color);
  border-radius: var(--border-radius-m);
  transition: 0.3s ease;
}

.navbar .nav-menu .nav-link:hover {
  color: var(--primary-color);
  background: var(--secondary-color);
}

.navbar :where(#menu-close-button, #menu-open-button){
  display: none;
}

/* Hero section */
.hero-section {
  min-height: 100vh;
  background-image: url(../img/dark-painting.png);
  background-position: center; 
  background-size: cover;
}

.hero-section .section-content {
  display: flex;
  align-items: center;
  min-height: 100vh;
  color: var(--white-color);
  justify-content: space-between;
}

.hero-section .hero-details .title {
  font-size: var(--font-size-xxl);
  color: var(--secondary-color);
  font-family: "Miniver", "sans-serif";
}
.hero-section .hero-details .subtitle {
  margin-top: 8px;
  max-width: 70%;
  font-size: var(--font-size-xl);
  font-weight: var(--font-wight-semibold);
}

.hero-section .hero-details .description {
  margin: 24px 0 40px;
  max-width: 70%;
  font-size: var(--font-size-m);
}
.text-block {
  position: absolute;
  bottom: 20px;
  right: 30px;
  background: rgba(33, 33, 33, 0.9); 
  color: #f1f1f1;
  padding: 20px;
  border-radius: 7px;
  width: 30%;
  min-height: 40%; /* Ελάχιστο ύψος για μικρότερα κείμενα */
}


.hero-section .hero-details .buttons {
  display: flex;
  gap: 15px;
}

.hero-section .hero-details .button {
  padding: 10px 26px;
  border: 2px solid transparent;
  color: var(--dark-color);
  border-radius: var(--border-radius-m);
  background: var(--secondary-color);
  font-weight: var(--font-weight-medium);
  transition: 0.3s ease;
}

.hero-section .hero-details .button:hover {
  color: var(--white-color);
  border-color: var(--white-color);
  background: transparent;
}

/* Responsive */
@media screen and (max-width: 900px){
  :root{
    --font-size-m: 1rem;
    --font-size-l: 1.3rem;
    --font-size-xl: 1.5rem;
    --font-size-xxl: 1.8rem;
  }

  body.show-mobile-menu header::before {
    content: "";
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(5px);
    background: rgba(0, 0, 0, 0.2);
  }

  .navbar :where(#menu-close-button, #menu-open-button){
    display: block;
    font-size: var(--font-size-l);
  }

  .navbar #menu-close-button {
    position: absolute;
    right: 30px;
    top: 30px;
  }

  .navbar #menu-open-button {
    color: var(--white-color);
  }
  .navbar .nav-menu{
    display: block;
    position: fixed;
    left: -300px;
    top: 0;
    width: 300px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    background: var(--secondary-color);
    transition: left 0.2s ease;
  }

  body.show-mobile-menu .navbar .nav-menu {
    left: 0;
  }
  .navbar .nav-menu .nav-link{
    color: var(--dark-color);
    display: block;
    margin-top: 17px;
    font-size: var(--font-size-l);
  }

  .navbar .nav-menu .nav-link {
    padding: 10px 26px;
    border: 2px solid transparent;
    color: var(--dark-color);
    border-radius: var(--border-radius-m);
    background: var(--secondary-color);
    font-weight: var(--font-weight-medium);
    transition: 0.3s ease;
  }
  .navbar .nav-menu .nav-link:hover {
    color: var(--white-color);
    border-color: var(--white-color);
    background: transparent;
  }

  .hero-section .section-content {
    gap: 50px;
    text-align: center;
    padding: 30px 20px 20px;
    flex-direction: column-reverse;
    justify-content: center;
  }

  .hero-section .hero-details :is(.subtitle, .description) {
    max-width: 100%;
  }

  .hero-section .hero-details .buttons{
    justify-content: center;
  }
}